* {
    box-sizing: border-box;
}
body{
    background-color: #e3e6e6;
}
.juoda{
    background-color: #272629;
    height: 5%;
}
.sviesi {
    background-color: #e3e6e6;
    padding: 20px 0 0 0;
}

.menu{
    padding: 25px 10px;

}
.menubox{
    margin-top: 8px;

}

.menuline {
    width: 30px;
    height: 3px;
    background-color: gray;
    margin: 4px 0;
    cursor: pointer;
}

.taskmanager{
    color: white;
    font-size: x-large;
    padding-left: 15px;
}

.fa{
    color: #969696;
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.arrow{
    margin: 0 25px 5px 0;
}

.slash{
    color: #5a585e;
    font-size: 25px;
    margin: 1px 15px;
}
.editcars{
    color: #c9c5ca;
    font-size: 30px;
    padding-left:10px;
    font-family: Arial;
}

.editfields {
    border: solid 1.2px #bababa;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
    width: 30px;
}
.editfieldscol{
    width: 30px;
}

.smallgrey{
    font-size: 15px;
    color: #aaaaaa;
    font-family: Arial;
    margin-bottom: 0;
    padding: 7px 14px;

}
.firstlight{
   padding: 15px 15px 0 15px;
}
.scndlight{
    background-color: #f5f5f5;
    border-radius: 7px;
    padding: 10px 10px;
    margin-top: 5px;
}

.form-control{
    height: 50px;
    border-radius: 7px;
    margin: 0 10px 0 10px;
    -moz-box-shadow:    inset 0 8px 5px -6px #e6e6e6;
    -webkit-box-shadow: inset 0 8px 5px -6px #e6e6e6;
    box-shadow:         inset 0 8px 5px -6px #e6e6e6;
}
.chech{
    padding: 5px 8px;
    border-radius: 15px;

}

.line {
    border-bottom: solid 1px #969696;

}
.chechbox {
    border: solid 1px #696969;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: #696969;


}
.timesbox{
    border: solid 1px #d1d1d1;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;

    color: #696969;

}

.line{
    padding: 15px 0;
}
.printrow{
    color: #9b989c;
    font-family: Arial;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 100;
}
.printcar {
    font-size: 30px;
    color: #5a585e;
    font-family: Arial;
    font-weight: 100;
}
.printtype{
    color: #9b989c;
    font-family: Arial;
    font-size: 18px;
    font-weight: 100;
}
.printcolour{
    color: #9b989c;
    font-family: Arial;
    font-size: 18px;
    font-weight: 100;
}
.btn-edit {
    background-color: #e6e6e6;
    border: solid 1px #d4d4d4;
    border-radius: 7px;
    padding: 7px 12px;
    font-size: 11px;
    color: #9b989c;
    cursor: pointer;
    margin-right: 7px;
    display: none;
}

.btn-remove{
    background-color: #e6e6e6;
    border: solid 1px #d4d4d4;
    border-radius: 7px;
    padding: 7px 12px;
    font-size: 11px;
    color: #9b989c;
    cursor: pointer;
    display: none;
}

.btn-edit:hover{
    background-color: white;
}

.btn-remove:hover{
    background-color: white;

}
.firstlight:hover{
    background-color: #eaeaea;
}

.btn-save-car:hover{
    background-color: #7e7e7e;
}
.btn-clear:hover{
    background-color: white;
}
.row{
    margin: 0;
}

.firstlight:hover .btn-edit, .firstlight:hover .btn-remove{
    display: block;
}

.nopadding {
    padding: 0;

}
.padding{
    padding: 5px;
}