$header-color: #1b1f25;
$body-color: #dfe4e8;
$onclick-line-color: #e9edf2;
$onclick-button-color: #ffffff;
$menu-color: #8b9095;
$slash-color: #40454a;
$back-arrow-color: #d5dbe0;
$edit-cars-tag-color: #e9edf2;
$tag-color: #82888e;
$frame-color: #babfc4;
$car-name-color: #262c35;
$car-atributes-color: #adb3b8;
$line-color: #bcc2c8;
$shadow-color: #d1d1d1;
$btn-frame-color: #c2c6cc;
$btn-tag-color: #747981;
$edit-fiels-tag-color: #70767d;
$chech-btn-color: #646970;
$x-btn-fa-color: #9297a0;
$font-stack: Arial;
$input-row-color: #f4f6f9;


body{
  background-color: $body-color;
  margin: 0;
  width: 100%;
}

.tm-header{
  background-color: $header-color;
  margin: 0;
  height: 150px;
  width: 100%;

  .menu{
    padding: 20px 0 0 20px;

    .menubox{
      float: left;
      margin-top: 2px;
    }

    .menu-line{
      background-color: $menu-color;
      width: 30px;
      height: 3px;
      margin: 4px 0;
      cursor: pointer;
    }

    .taskmanager {
      color: white;
      font-size: x-large;
      font-family: $font-stack;
      margin: 0 0 0 50px;
    }
  }

    .backpage{
      float: left;
      margin-top: 25px;
      &:hover{
        cursor: pointer;
      }
      .backarrow{
      float: left;
      padding: 15px;
        .fa{
           color: $back-arrow-color;
           margin: 0;
            &:hover{
              cursor: pointer;
            }
      }
     }

      .slash-tag{
        float: left;
        padding: 12px 0 15px 0;
        .slash{
          color: $slash-color;
          font-size: 30px;
          margin: 0;
        }
      }

    .edit-cars-tag{
      float: left;
      padding: 15px;
      .editcars{
      color: $edit-cars-tag-color;
      font-family: $font-stack;
      font-size: 30px;
      margin: 0;
      }
    }
  }
}



.tm-body {
  background-color: $body-color;
  margin: 35px 15% 35px 15%;
  width: 1164px;

  .tags {
    color: $tag-color;
    font-family: $font-stack;
    font-size: 15px;
    margin: 0 0 0 20px;

    .row-tag {
      margin-right: 5%;
    }

    .name-tag {
      margin-right: 30%;
    }

    .type-tag {
      margin-right: 20%;
    }

    .colour-tag {
      margin-right: 15%;
    }

    .btn-editfields {
      border: solid 1px $frame-color;
      border-radius: 7px;
      padding: 10px 25px 10px 25px;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background-color: white;

      }
    }

  }

  .listofcars {
    max-width: 1160px;
    height: 60px;
    border-bottom:solid 1px $line-color ;
    &:hover {
      background-color: $onclick-line-color;
      &:hover{
        .btn-edit, .btn-remove{
          display: block;
        }
      }
    }

    .print-row-division {
      width: 60px;
      height: 60px;
      float: left;
      margin-left: 50px;

      .printrow {
        color: $car-atributes-color;
        font-family: $font-stack;
        float: left;
        max-width: 60px;
        margin-left: 2%;
      }
    }

    .print-car-division{
      width: 350px;
      height: 60px;
      float: left;
      .printcar {
        font-size: 25px;
        max-width: 350px;
        margin-top: 7px;
        font-family: $font-stack;

      }
  }

    .print-type-division{
      width: 252px;
      height: 60px;
      float: left;
      margin-left: 20px;
      .printtype {
        color: $car-atributes-color;
        font-family: $font-stack;
        max-width: 252px;
      }
  }


    .print-colour-division{
      width: 252px;
      height: 60px;
      float: left;
      margin-left: 20px;
      .printcolour {
        color: $car-atributes-color;
        font-family: $font-stack;
        max-width: 252px;
      }
  }

    .btn-edit-division{
      float: left;
      margin-top: 15px;

      .btn-edit {
        background-color: #e6e6e6;
        border: solid 1px #d4d4d4;
        border-radius: 7px;
        padding: 7px 12px;
        font-size: 11px;
        font-family: $font-stack;
        color: #9b989c;
        cursor: pointer;
        display: none;
          &:hover {
            background-color: white;
          }
        }
  }

    .btn-remove-division{
      float: left;
      margin-top: 15px;
        .btn-remove {
        margin-left: 10px;
        background-color: #e6e6e6;
        border: solid 1px #d4d4d4;
        border-radius: 7px;
        padding: 7px 13px 7px 12px;
        font-size: 11px;
        font-family: $font-stack;
        color: #9b989c;
        cursor: pointer;
        display: none;
          &:hover {
            background-color: white;
          }
        }
  }
  }

  .input-division {
    background-color: $input-row-color;
    padding: 15px 15px 15px 25px;
    border-radius: 10px;
    margin-top: 25px;
    height: 55px;
    position: center;

    .row-division {
      float: left;

      .row-input {
        width: 60px;
        height: 50px;
        border: solid 1px $frame-color;
        border-radius: 7px;
        margin-right: 20px;
        -moz-box-shadow: inset 0 8px 5px -6px $shadow-color;
        -webkit-box-shadow: inset 0 8px 5px -6px $shadow-color;
        box-shadow: inset 0 8px 5px -6px $shadow-color;
      }

    }

    .name-division {
      float: left;

      .name-input {
        width: 350px;
        height: 50px;
        border: solid 1px $frame-color;
        border-radius: 7px;
        margin-right: 20px;
        -moz-box-shadow: inset 0 8px 5px -6px $shadow-color;
        -webkit-box-shadow: inset 0 8px 5px -6px $shadow-color;
        box-shadow: inset 0 8px 5px -6px $shadow-color;
      }
    }

    .type-division {
      float: left;

      .type-input {
        width: 250px;
        height: 50px;
        border: solid 1px $frame-color;
        border-radius: 7px;
        margin-right: 20px;
        -moz-box-shadow: inset 0 8px 5px -6px $shadow-color;
        -webkit-box-shadow: inset 0 8px 5px -6px $shadow-color;
        box-shadow: inset 0 8px 5px -6px $shadow-color;
      }
    }

    .colour-division {
      float: left;

      .colour-input {
        width: 250px;
        height: 50px;
        border: solid 1px $frame-color;
        border-radius: 7px;
        margin-right: 20px;
        -moz-box-shadow: inset 0 8px 5px -6px $shadow-color;
        -webkit-box-shadow: inset 0 8px 5px -6px $shadow-color;
        box-shadow: inset 0 8px 5px -6px $shadow-color;
      }
    }

    .chech-btn-division {
      float: left;

      .btn-save-car {
        width: 52px;
        height: 52px;
        border: solid 1px $frame-color;
        border-radius: 7px;
        margin-right: 10px;
        background-color: $chech-btn-color;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: #4c5055;

        }
      }
    }

    .x-btn-division {
      float: left;

      .btn-clear {
        width: 52px;
        height: 52px;
        border: solid 1px $frame-color;
        border-radius: 7px;
        margin-right: 1px;
        color: $frame-color;
        cursor: pointer;
          //.x-btn-division{
          //  width: 30px;
          //  height: 30px;
          // margin: 20px 0 0 20px;
          //}
        &:hover {
          background-color: white;
        }

      }
    }
  }
}
 .car-list{
   width: 100%;
 }

